{% extends "index.html" %}

{% block pagetitle %}
  Delete
{% endblock %}


{% block pageContent %}

{% if request.get_full_path == "/deleteGame/" %}
<form action="{% url 'deleteGame' %}" method='post'> {% csrf_token %}
  <h1> Type the name of the game to delete </h1>
    <ul>
      <li>Game Name:  <input name="deletionInput" type="text"></li>
    </ul>
  <input type="submit" name="submit" value="Delete Entry">
</form>

{% elif request.get_full_path == "/deletePublisher/" %}
<form action="{% url 'deletePublisher' %}" method='post'> {% csrf_token %}
  <h1> Type the name of the Publisher to delete </h1>
  <ul>
    <li>Publisher Name:  <input name="deletionInput" type="text"></li>
  </ul>
  <input type="submit" name="submit" value="Delete Entry">
</form>

{% elif request.get_full_path == "/deleteSystReq/" %}
<form action="{% url 'deleteSystReq' %}" method='post'> {% csrf_token %}
  <h1> Type the memory needed to delete </h1>
  <ul>
    <li>Memory needed:  <input name="deletionInput" type="text"></li>
  </ul>
  <input type="submit" name="submit" value="Delete Entry">
</form>
{% endif %}

{% endblock %}
