{% extends "index.html" %}

  {% block pagetitle %}
  Home page
  {% endblock %}

  {% block pageContent %}
  <div id='content'>
    <p>Student number: 230525</p>
    <p>Student Name: Billy Davies</p>

    <h1>Information about the topic </h1>
    <p>The topic I selected is the same as assignment 1, Video games.
    <p>The reason I picked it is simply because its something ive always enjoyed spending time on. And its a topic I have some knowledge of.</p>
    <p>The three tables used in my models file are , game,publisher and systemRequirements.</p>
    <p>The reason for selecting these three tables are that they are all the most common things to look for when you go to purchase a new game. </p>
    <ul>
      <li>You need to know some information about the game(in the game table).</li>
      <li>You want to know who is publishing the game so you can look at the track record they have with releasing games</li>
      <li>And if you are playing on a PC, you want to know if your computer can run it <li>
    </ul>
</div>
  {% endblock %}
