{% extends "index.html" %}

  {% block pagetitle %}
  Read entries
  {% endblock %}

{% block pageContent %}

  {% if request.get_full_path == "/readGame/"%}
    {% for item in names %}
    <div class='infoBox'>
      <h1> Game Entry </h1>
      <ul>
        <li>Name of the game:  {{item.gameName}}</li>
        <li>Description of the game:  {{item.description}}</li>
        <li>The price of the game(in dollars):  {{item.price}}</li>
        <li>The game was or will be released on:  {{item.releaseDate}}</li>
        <li>The game was published by:  {{item.publisher}}</li>
        <li>Minimum Ram needed to run the game:  {{item.systemRequirements}}</li>
      </ul>
    </div>
    {% endfor %}

  {% elif request.get_full_path == "/readPublisher/" %}
    {% for item in names %}
    <div class='infoBox'>
      <ul>
        <li>Name of the Publisher:{{item.publisherName}}</li>
        <li>Publishers Location:{{item.Location}}</li>
        <li>Date they were founded:{{item.dateFounded}}</li>
      </ul>
    </div>
    {% endfor %}

  {% elif request.get_full_path == "/readSystReq/" %}
    {% for item in names %}
    <div class='infoBox'>
      <ul>
        <li>Minimum memory needed: {{item.memoryNeeded}}</li>
        <li>Minimum Hard Disk space:{{item.miniumumDiskSpace}}</li>
        <li>Minimum GPU required:{{item.gpuRequired}}</li>
      </ul>
    </div>
    {% endfor %}
  {% endif %}
{% endblock %}

<body>

</body>
