{% extends "index.html" %}

  {% block pagetitle %}
  Read
  {% endblock %}

{% block pageContent %}

  {% if request.get_full_path == "/readGame/"%}
    {% for item in names %}
    <div class='infoBox'>
      <p>Name of the game:  {{item.gameName}}</p>
      <p>Description of the game:  {{item.description}}</p>
      <p>The price of the game(in dollars):  {{item.price}}</p>
      <p>The game was or will be released on:  {{item.releaseDate}}</p>
      <p>The game was published by:  {{item.publisher}}</p>
      <p>Minimum Ram needed to run the game:  {{item.systemRequirements}}</p>
      <br>
    </div>
    {% endfor %}

  {% elif request.get_full_path == "/readPublisher/" %}
    {% for item in names %}
    <div class='infoBox'>
      <p>Name of the Publisher:{{item.publisherName}}</p>
      <p>Publishers Location:{{item.Location}}</p>
      <p>Date they were founded:{{item.dateFounded}}</p>
      <br>
    </div>
    {% endfor %}

  {% elif request.get_full_path == "/readSystReq/" %}
    {% for item in names %}
    <div class='infoBox'>
      <p>Minimum memory needed: {{item.memoryNeeded}}</p>
      <p>Minimum Hard Disk space:{{item.miniumumDiskSpace}}</p>
      <p>Minimum GPU required:{{item.gpuRequired}}</p>
      <br>
    </div>
    {% endfor %}
  {% endif %}
{% endblock %}

<body>

</body>
